@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html,
body {
  margin: 0;
  scroll-behavior:smooth;
  background-color:#202020;
  font-family: 'Koulen', cursive;
}
a {
  color: inherit;
  text-decoration: none;
}
h1{
  z-index: 1;
}

li {
  list-style: none;
}

